#Сведения о базе данных

NAME=
USER=
PASSWORD=
HOST=
PORT=

#Ключ к приложению
SECRET_KEY=

#Данные электронной почты
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=


#Данные для регистрации суперпользовыателя(кастомная команада 'super')
USER_EMAIL=
USER_PASSWORD=