<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
</head>
{% include 'mailing/includes/nav_bar.html' %}
<div class="container mt -5">
    {% block content %}{% endblock %}
</div>
<nav class="navbar fixed-bottom navbar-expand-sm" style="background-color: #483D8B;">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"><div class="text-light">Bottom navbar</div></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><div class="text-secondary">Home</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><div class="text-secondary">Link</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"><div class="text-secondary">Disabled</div></a>
        </li>
        <li class="nav-item dropup">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropup</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

     <script src="/static/js/bootstrap.bundle.min.js"></script>
